<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href={% static 'css/sts.css' %}>
		<title> Titulo </title>
	</head>
	<body>
		<h1> Teste </h1>
		<div class="box">
			<form action="/registro/" method="POST">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="submit" class="btn">
			</form>

			<a href="/">
				<input type="button" value="home" class="btn">
			</a>
		</div>

		<footer>
			{% if aut %}
			<a href="/logout/">
				<input type="button" value="LogOut">
			</a>
			{% endif %}
				Teste&copy; 2023
				<a href="https://github.com/Thalesed/">
					github
				</a>
				<a href="https://www.linkedin.com/in/thales-eduardo-dias-de-souza-4229b2258">
					LinkedIn
				</a>
		</footer>
	</body>
</html>
